spacy~=3.8.4
transformers~=4.49.0
presidio_analyzer~=2.2.357
presidio_anonymizer~=2.2.357
pymupdf~=1.25.3
torch~=2.6.0
flask~=3.1.0
fitz~=0.0.1.dev2
Werkzeug~=3.1.3
google~=3.0.0
protobuf~=5.29.3
dotenv~=0.9.9
python-dotenv~=1.0.1
fastapi
uvicorn
google-generativeai